* {
    margin: 0;
    font-family: "Open Sans";
    font-size: 18px;
    color: var(--site-dark-grey-2);
}

:root {
    --site-green: #17B978;
    --site-dark-grey-1: #263B5E;
    --site-dark-grey-2: #6A7695;
    --site-light-grey: #F5F4FB;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    color: var(--site-dark-grey-1);
    line-height: 1.3;
}

h2 {
    color: var(--site-dark-grey-1);
    font-size: 50px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
    color: var(--site-dark-grey-1);
    font-family: "Open Sans";
}

h5 {
   color: var(--site-dark-grey-1);
   font-size: 24px;
   line-height: 1.9;
}

h6 {
    color: var(--site-green);
}

.upper-case {
    text-transform: uppercase;
}

.header {
    width: 100%;
    height: 800px;
    background: url(./images/undraw_book_lover_mkck.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
}

.nav-section {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 19%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-text {
    color: #000;
    font-weight: 900;
    font-size: 28px;
}

.green-dot {
    position: relative;
    display: inline-block;
    background-color: var(--site-green);
    height: 5px;
    width: 5px;
    border: none;
}

.green-btn {
    background-color: var(--site-green);
    padding: 20px;
    padding-right: 50px; 
    padding-left: 50px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    font-weight: 500;
    color: #000;
}

.banner-section {
    display: flex;
    padding: 120px;
    padding-left: 19%;
    padding-right: 15%;
}

.left-banner-section {
    width: 35%;
}

.partners-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 100px;
    padding-left: 19%;
    padding-right: 15%;
}

.about-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:18%;
    padding-top:50px;
    padding-bottom:50px;
    grid-gap:30px;
}

.right-about-section {
    padding-right: 80px;
}

.stat-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 18%;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-gap: 70px;
}

.stat-1 {
    background-color: var(--site-light-grey);
    height: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.stat-2 {
    background-color: var(--site-light-grey);
    height: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-3 {
    background-color: var(--site-light-grey);
    height: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-4 {
    background-color: var(--site-light-grey);
    height: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}